<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="nav-container" [hidden]="!isLogin">
  <div class="nav-buttons">
    <!-- <div class="nav-button"><button class="nv-btn"  routerLink="/add-book" type="button">Books</button></div> -->
    <!-- Admin -->
    <div *ngIf="isAdmin">
      <div class="nav-button"><button class="nv-btn"  routerLink="/add-book" type="button">Add Book</button></div>
      <div class="nav-button"><button class="nv-btn"  routerLink="book-search-and-update" type="button">Update</button></div>
      <div class="nav-button"><button class="nv-btn"  routerLink="/view-orders" type="button">Orders</button></div>
    </div>
    <!-- Students -->
    <div *ngIf="!isAdmin">
      <div class="nav-button"><button class="nv-btn"  routerLink="/studentbooks" type="button">Books</button></div>
      <div class="nav-button"><button class="nv-btn" routerLink="#" type="button">Search and Place Order </button></div>
      <div class="nav-button"><button class="nv-btn" routerLink="#" type="button">View Date </button></div>
      <div class="nav-button"><button class="nv-btn" routerLink="studentorders" type="button">View Orders and return </button></div>
    </div>
    <div class="nav-button"><button class="nv-btn" routerLink="/tempcomp" type="button">Temp </button></div>
  </div>
  <!-- <div class="nav-login">
    <div class="login"><button class="nv-log" routerLink="login" type="button"><i class="material-icons">person</i></button>
  </div> -->
</div>
