<!-- <div class="container m-4" style="text-align: center;justify-content: center;">
    <div class="login-form">
      <h2 class="title">Sign In</h2>
      <div class="input-field">
        <label for="text"></label>
        <input type="text" placeholder="Enter your username address" name="text" id="text" [(ngModel)]=username>
      </div>
      <div class="input-field">
        <label for="pass"></label>
        <input type="password" placeholder="**********" name="pass" id="pass" [(ngModel)]=password >
      </div>
      <div class="input">
        <div >
          <input type="checkbox" name="" id="remember">
          <label for="remember">Keep me signed in? </label>
        </div>
        <a href="#">forgot your password?</a>
      </div>
      <p class="terms">By Continue, you agree our <strong>Condition of use</strong> and <strong>Privacy Notice</strong>.</p>
      <button class="btn login" (click)="onLogin()">Sign in</button>
      <div class="new-user">
        <p>New on our platform?</p>
        <button class="btn btn-light text-dark create" routerLink="/register" >Create account</button>
      </div>
    </div>
  </div> -->

  <div class="login">
    <div class="form">
      <form class="login-form">
        <span class="material-icons head">Library</span>
        <input type="text" placeholder="username" required pattern="[a-z0-9._%+-]$" name="username" [(ngModel)]=username required/>
        <input type="password" placeholder="password" name="password" [(ngModel)]="password" required />
        <button class="loginBtn" (click)="onLogin()">login</button>
        <button class="register" routerLink="/register" >register</button>
        </form>  
    </div>
  </div>