<app-custom-header></app-custom-header>
  
	<div class="container">
		<div class="logo"></div>
		<h1> <strong> {{studentDetails.studentName}}</strong> </h1>
		<h3> Student | Book Enthusiast ..eh? </h3>
		<p class="bio">
			<strong>Student ID: </strong> {{stdId}} <br>
			<strong>Username: </strong> {{studentDetails.usn}} <br>
            <strong>Total Books taken: </strong> {{studentDetails.totalBooks}} <br>
            &nbsp;<strong>Not Returned: </strong> {{studentDetails.notReturned}} 
		</p>
		<!-- <p class="social">
			<a title="Facebook" target="_blank" href="https://www.facebook.com/100006665290943">
				<i class=" s-btn fab fa-facebook-f"></i></a>
			<a title="Instagram" target="_blank" href="https://www.instagram.com/saifylovezyou">
				<i class="s-btn fab fa-instagram"></i></a>
			<a title="Twitter" target="_blank" href="https://twitter.com/saifylovezyou">
				<i class="s-btn fab fa-twitter"></i></a>
			<a title="Codepen" target="_blank" href="https://codepen.io/saify/">
				<i class="s-btn fab fa-codepen"></i></a>
			<a title="Linkedin" target="_blank" href="https://www.linkedin.com/in/saifuddins/">
				<i class="s-btn fab fa-linkedin-in"></i></a>
		</p> -->
	</div>
<div class="parentContainer"></div> 
<app-footer></app-footer>

